.sidebar-container {
  display: flex;
  overflow: hidden;
  .sidebar {
    border-right: 1px solid var(--border);
    min-width: 131px;
    height: 100vh;

    .logo {
      height: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid var(--border);
      img {
        width: 55px;
      }
    }
    .workspace {
      height: calc(100vh - 260px);
      .user-workspaces {
        .workspace-logo {
          margin-top: 20px;
          width: 60px;
          height: 60px;
          border: 1px solid var(--border);
          border-radius: 50%;
          background: var(--bg-primary);
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        p {
          font-weight: 600;
        }
      }

      .plus-icon {
        margin-bottom: 32px;
        width: 23px;
        cursor: pointer;
      }
    }
    .user {
      height: 130px;
      width: 131px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid var(--border);
      bottom: 0;
      img {
        width: 55px;
      }
    }
  }
  .sidebar-details {
    flex: 1;
  }
}
