* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

:root {
  --bg-primary: #d9d9d9;
  --text-primary: #000;
  --border: gray;
}

ul,
li {
  text-decoration: none;
}

.container {
  max-width: 1512px;
  margin-inline: auto;
}
