@import url(https://db.onlinewebfonts.com/c/ee5e0963d4f220cba32a5765cc4f9772?family=PingFangHK);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

:root {
  --bg-primary: #d9d9d9;
  --bg-secondary: #f5f5f5;
  --text-primary: #000;
  --border: #7c7777;
  --hover-bg: #f5f5f5;
  --text-secondary: #7c7777;
  --border-table: rgba(224, 224, 224, 1);
}

body {
  font-family: "PingFangHK";
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1512px;
  margin-inline: auto;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: start;
  gap: 8px;
}

.page-num {
  padding: 3px 8px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 400;
}

.page-num:hover {
  background-color: #adadad;
  color: #fff;
}

.pagination .active {
  background-color: var(--text-secondary);
  color: #fff;
}

.page-arrow {
  padding: 3px 8px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--text-secondary);
  color: #fff;
}
